<div id="builds"></div>
<div id="display"></div>
<style>
    div.tooltip {   
        position: absolute;           
        text-align: center;           
        width: 100px;                  
        height: 150px;                 
        padding: 2px;             
        font: 12px sans-serif;        
        background: lightsteelblue;   
        border: 0px;            
        pointer-events: none;         
    }
</style>
<div style="height: 100px">n
    <div class="dropdown .pull-right" style="float: left">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            All Teams
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="teamProject">
        </ul>
    </div>
    <div class="dropdown .pull-right" style="float: left">
        <button class="btn btn-default dropdown-toggle" type="button" id="statusDropDown" data-toggle="dropdown" aria-expanded="true">
            Team
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="statusDropDown" id="statusDropDownMenu">
            <li><a role="menuitem" href="#" id="statusDropDownStatus">Status</a></li>
            <li><a role="menuitem" href="#" id="statusDropDownTeam">Team</a></li>
        </ul>
    </div>
    <input type="text" id="hoursfromnow" style="float: left" class="form-control" placeholder="hours from now"/>
</div>
<div id="runningBuilds" class="well" style="width: 100%; height: 100%">
</div>




@section scripts {
    <script src="@Url.Content("~/Scripts/updatebuildschart.js")"></script>
    <script src="@Url.Content("~/Scripts/runningbuildstatus.js")"></script>
    <script>
        updatebuildschart.pulllastbuildschartcontroller = '@Url.Action("PullLastBuildsAsync", "Home")';
        updatebuildschart.pullteamcontroller = '@Url.Action("PullBuildAsync", "Home")';
        updatebuildschart.initialize();

        var con = $.connection.statusHub;

        con.client.getnotfinishedbuilds = runningbuildstatus.push;
        con.client.refreshfview = runningbuildstatus.refreshfview;


        $.connection.hub.start();
    </script>
}